
the following is my setting all----python3.9
absl-py	2.1.0
astunparse	1.6.3
audioread	3.0.1
ca-certificates	2024.3.11
cachetools	5.3.3
certifi	2024.2.2
cffi	1.16.0
charset-normalizer	3.3.2
click	8.1.7
cryptography	42.0.5
cudatoolkit	10.1.243
cudnn	7.6.5
decorator	4.4.2
ffmpeg	1.4
flatbuffers	2.0.7
gast	0.4.0
google-auth	2.29.0
google-auth-oauthlib	0.4.6
google-pasta	0.2.0
grpcio	1.62.2
h5py	3.11.0
hmmlearn	0.3.2
idna	3.7
imageio	2.34.1
imageio-ffmpeg	0.4.9
joblib	1.4.0
keras	2.8.0
keras-preprocessing	1.1.2
lazy-loader	0.4
libclang	18.1.1
librosa	0.10.1
llvmlite	0.42.0
markdown	3.6
markupsafe	2.1.5
moviepy	1.0.3
msgpack	1.0.8
mutagen	1.47.0
numba	0.59.1
numpy	1.26.4
oauthlib	3.2.2
openssl	3.0.13
opt-einsum	3.3.0
pandas	2.2.2
pip	24.0
playsound	1.3.0
pooch	1.8.1
proglog	0.1.10
protobuf	3.19.0
pyasn1	0.6.0
pyasn1-modules	0.4.0
pyaudio	0.2.14
pycparser	2.22
pydub	0.25.1
pygame	2.5.2
pyopenssl	24.1.0
pyqt5	5.15.9
pyqt5-plugins	5.15.9.2.3
pyqt5-qt5	5.15.2
pyqt5-sip	12.13.0
pyqt5-tools	5.15.9.3.3
pyssl	0.0.7
python	3.9.19
python-dotenv	1.0.1
python-speech-features	0.6
pytz	2024.1
pyyaml	6.0.1
qt5-applications	5.15.2.2.3
qt5-tools	5.15.2.1.3
requests	2.31.0
requests-oauthlib	2.0.0
rsa	4.9
scikit-learn	1.4.2
scipy	1.13.0
setuptools	68.2.2
soundfile	0.12.1
soxr	0.3.7
speechrecognition	3.10.4
sqlite	3.41.2
tensorboard	2.8.0
tensorboard-data-server	0.6.1
tensorboard-plugin-wit	1.8.1
tensorflow-estimator	2.8.0
tensorflow-gpu	2.8.1
tensorflow-io-gcs-filesystem	0.31.0
termcolor	2.4.0
threadpoolctl	3.4.0
torch	1.10.0+cu102
torchaudio	0.10.0+cu102
torchvision	0.11.0+cu102
tqdm	4.66.2
typing-extensions	4.11.0
tzdata	2024.1
urllib3	2.2.1
utils	1.0.2
vc	14.2
vs2015_runtime	14.27.29016
werkzeug	3.0.2
wheel	0.41.2
wrapt	1.16.0
