//
// Generated (version 2022.1<build 99559>) at Wed May 22 14:35:37 2024
//

module DelayUnit_unq20
(
    input [15:0] Data_in,
    input Clk,
    input Enable,
    input Reset,
    output [15:0] Delay_out,
    output N7
);

    GTP_DFF_CE /* \Delay_out[0]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[0]  (
            .Q (Delay_out[0]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[0]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[1]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[1]  (
            .Q (Delay_out[1]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[1]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[2]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[2]  (
            .Q (Delay_out[2]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[2]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[3]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[3]  (
            .Q (Delay_out[3]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[3]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[4]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[4]  (
            .Q (Delay_out[4]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[4]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[5]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[5]  (
            .Q (Delay_out[5]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[5]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[6]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[6]  (
            .Q (Delay_out[6]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[6]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[7]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[7]  (
            .Q (Delay_out[7]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[7]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[8]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[8]  (
            .Q (Delay_out[8]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[8]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[9]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[9]  (
            .Q (Delay_out[9]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[9]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[10]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[10]  (
            .Q (Delay_out[10]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[10]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[11]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[11]  (
            .Q (Delay_out[11]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[11]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[12]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[12]  (
            .Q (Delay_out[12]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[12]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[13]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[13]  (
            .Q (Delay_out[13]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[13]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[14]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[14]  (
            .Q (Delay_out[14]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[14]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[15]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[15]  (
            .Q (Delay_out[15]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[15]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_INV N7_vname (
            .Z (N7),
            .I (Reset));
    // defparam N7_vname.orig_name = N7;


endmodule


module DelayUnit_unq22
(
    input [15:0] Data_in,
    input Clk,
    input Enable,
    input N7,
    output [15:0] Delay_out
);

    GTP_DFF_CE /* \Delay_out[0]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[0]  (
            .Q (Delay_out[0]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[0]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[1]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[1]  (
            .Q (Delay_out[1]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[1]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[2]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[2]  (
            .Q (Delay_out[2]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[2]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[3]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[3]  (
            .Q (Delay_out[3]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[3]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[4]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[4]  (
            .Q (Delay_out[4]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[4]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[5]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[5]  (
            .Q (Delay_out[5]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[5]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[6]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[6]  (
            .Q (Delay_out[6]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[6]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[7]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[7]  (
            .Q (Delay_out[7]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[7]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[8]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[8]  (
            .Q (Delay_out[8]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[8]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[9]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[9]  (
            .Q (Delay_out[9]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[9]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[10]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[10]  (
            .Q (Delay_out[10]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[10]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[11]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[11]  (
            .Q (Delay_out[11]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[11]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[12]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[12]  (
            .Q (Delay_out[12]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[12]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[13]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[13]  (
            .Q (Delay_out[13]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[13]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[14]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[14]  (
            .Q (Delay_out[14]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[14]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[15]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[15]  (
            .Q (Delay_out[15]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[15]));
	// ../../../src/lms/DelayUnit.v:28


endmodule


module DelayUnit_unq24
(
    input [15:0] Desired_in_reg,
    input Clk,
    input Enable,
    input N7,
    output [15:0] Delay_out
);

    GTP_DFF_CE /* \Delay_out[0]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[0]  (
            .Q (Delay_out[0]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Desired_in_reg[0]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[1]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[1]  (
            .Q (Delay_out[1]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Desired_in_reg[1]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[2]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[2]  (
            .Q (Delay_out[2]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Desired_in_reg[2]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[3]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[3]  (
            .Q (Delay_out[3]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Desired_in_reg[3]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[4]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[4]  (
            .Q (Delay_out[4]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Desired_in_reg[4]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[5]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[5]  (
            .Q (Delay_out[5]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Desired_in_reg[5]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[6]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[6]  (
            .Q (Delay_out[6]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Desired_in_reg[6]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[7]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[7]  (
            .Q (Delay_out[7]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Desired_in_reg[7]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[8]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[8]  (
            .Q (Delay_out[8]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Desired_in_reg[8]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[9]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[9]  (
            .Q (Delay_out[9]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Desired_in_reg[9]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[10]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[10]  (
            .Q (Delay_out[10]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Desired_in_reg[10]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[11]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[11]  (
            .Q (Delay_out[11]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Desired_in_reg[11]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[12]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[12]  (
            .Q (Delay_out[12]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Desired_in_reg[12]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[13]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[13]  (
            .Q (Delay_out[13]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Desired_in_reg[13]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[14]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[14]  (
            .Q (Delay_out[14]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Desired_in_reg[14]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[15]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[15]  (
            .Q (Delay_out[15]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Desired_in_reg[15]));
	// ../../../src/lms/DelayUnit.v:28


endmodule


module DelayUnit
(
    input [15:0] Data_in,
    input Clk,
    input Enable,
    input N7,
    output [15:0] Delay_out
);

    GTP_DFF_CE /* \Delay_out[0]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[0]  (
            .Q (Delay_out[0]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[0]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[1]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[1]  (
            .Q (Delay_out[1]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[1]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[2]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[2]  (
            .Q (Delay_out[2]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[2]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[3]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[3]  (
            .Q (Delay_out[3]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[3]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[4]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[4]  (
            .Q (Delay_out[4]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[4]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[5]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[5]  (
            .Q (Delay_out[5]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[5]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[6]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[6]  (
            .Q (Delay_out[6]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[6]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[7]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[7]  (
            .Q (Delay_out[7]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[7]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[8]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[8]  (
            .Q (Delay_out[8]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[8]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[9]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[9]  (
            .Q (Delay_out[9]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[9]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[10]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[10]  (
            .Q (Delay_out[10]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[10]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[11]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[11]  (
            .Q (Delay_out[11]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[11]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[12]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[12]  (
            .Q (Delay_out[12]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[12]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[13]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[13]  (
            .Q (Delay_out[13]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[13]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[14]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[14]  (
            .Q (Delay_out[14]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[14]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[15]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[15]  (
            .Q (Delay_out[15]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[15]));
	// ../../../src/lms/DelayUnit.v:28


endmodule


module LMS_tap
(
    input [15:0] Data_in,
    input Clk,
    input \Data_reg/N7 ,
    input Enable,
    output [15:0] Delay_out
);

    DelayUnit Delay_reg (
            .Delay_out (Delay_out),
            .Data_in (Data_in),
            .Clk (Clk),
            .Enable (Enable),
            .N7 (\Data_reg/N7 ));
	// ../../../src/lms/LMS_tap.v:30


endmodule


module DelayUnit_unq18
(
    input [15:0] Data_in,
    input Clk,
    input Enable,
    input N7,
    output [15:0] Delay_out
);

    GTP_DFF_CE /* \Delay_out[0]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[0]  (
            .Q (Delay_out[0]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[0]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[1]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[1]  (
            .Q (Delay_out[1]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[1]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[2]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[2]  (
            .Q (Delay_out[2]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[2]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[3]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[3]  (
            .Q (Delay_out[3]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[3]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[4]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[4]  (
            .Q (Delay_out[4]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[4]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[5]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[5]  (
            .Q (Delay_out[5]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[5]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[6]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[6]  (
            .Q (Delay_out[6]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[6]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[7]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[7]  (
            .Q (Delay_out[7]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[7]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[8]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[8]  (
            .Q (Delay_out[8]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[8]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[9]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[9]  (
            .Q (Delay_out[9]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[9]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[10]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[10]  (
            .Q (Delay_out[10]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[10]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[11]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[11]  (
            .Q (Delay_out[11]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[11]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[12]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[12]  (
            .Q (Delay_out[12]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[12]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[13]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[13]  (
            .Q (Delay_out[13]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[13]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[14]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[14]  (
            .Q (Delay_out[14]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[14]));
	// ../../../src/lms/DelayUnit.v:28

    GTP_DFF_CE /* \Delay_out[15]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \Delay_out[15]  (
            .Q (Delay_out[15]),
            .C (N7),
            .CE (Enable),
            .CLK (Clk),
            .D (Data_in[15]));
	// ../../../src/lms/DelayUnit.v:28


endmodule


module LMS_tap_unq6
(
    input [15:0] Data_in,
    input Clk,
    input \Data_reg/N7 ,
    input Enable,
    output [15:0] Delay_out
);

    DelayUnit_unq18 Delay_reg (
            .Delay_out (Delay_out),
            .Data_in (Data_in),
            .Clk (Clk),
            .Enable (Enable),
            .N7 (\Data_reg/N7 ));
	// ../../../src/lms/LMS_tap.v:30


endmodule


module LMSX_selfdefine
(
    input [15:0] data_in,
    input \Data_reg_1/N7 ,
    input clk,
    input enable,
    output [15:0] Delay_out
);
    wire [47:0] LMS_tap_delay_out;

    LMS_tap \class1[0].genblk1.LMS_tap_1  (
            .Delay_out ({LMS_tap_delay_out[15], LMS_tap_delay_out[14], LMS_tap_delay_out[13], LMS_tap_delay_out[12], LMS_tap_delay_out[11], LMS_tap_delay_out[10], LMS_tap_delay_out[9], LMS_tap_delay_out[8], LMS_tap_delay_out[7], LMS_tap_delay_out[6], LMS_tap_delay_out[5], LMS_tap_delay_out[4], LMS_tap_delay_out[3], LMS_tap_delay_out[2], LMS_tap_delay_out[1], LMS_tap_delay_out[0]}),
            .Data_in (data_in),
            .Clk (clk),
            .\Data_reg/N7  (\Data_reg_1/N7 ),
            .Enable (enable));
	// ../../../src/lms/LMSX_selfdefine.v:37

    LMS_tap_unq6 \class1[1].genblk1.LMS_tap_2  (
            .Delay_out (Delay_out),
            .Data_in ({LMS_tap_delay_out[15], LMS_tap_delay_out[14], LMS_tap_delay_out[13], LMS_tap_delay_out[12], LMS_tap_delay_out[11], LMS_tap_delay_out[10], LMS_tap_delay_out[9], LMS_tap_delay_out[8], LMS_tap_delay_out[7], LMS_tap_delay_out[6], LMS_tap_delay_out[5], LMS_tap_delay_out[4], LMS_tap_delay_out[3], LMS_tap_delay_out[2], LMS_tap_delay_out[1], LMS_tap_delay_out[0]}),
            .Clk (clk),
            .\Data_reg/N7  (\Data_reg_1/N7 ),
            .Enable (enable));
	// ../../../src/lms/LMSX_selfdefine.v:48


endmodule


module LMS
(
    input [15:0] Data_in,
    input [15:0] Desired_in,
    input [15:0] Step_size,
    input Clk,
    input Enable,
    input Reset,
    output [15:0] Delay_out_x,
    output [15:0] Error_out,
    output [15:0] Y_out
);
	// SDC constraint : (object Clk) (id 1000) (clock LMS|Clk) (inferred)
    wire [15:0] Data_in_reg;
    wire \Data_reg_1/N7 ;
    wire [15:0] Desired_in_reg;
    wire nt_Clk;
    wire [15:0] nt_Data_in;
    wire [15:0] nt_Delay_out_x;
    wire [15:0] nt_Desired_in;
    wire nt_Enable;
    wire [15:0] nt_Error_out;
    wire nt_Reset;

    GTP_INBUF /* Clk_ibuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        Clk_ibuf (
            .O (nt_Clk),
            .I (Clk));
	// ../../../src/lms/LMS.v:12

    GTP_INBUF /* \Data_in_ibuf[0]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \Data_in_ibuf[0]  (
            .O (nt_Data_in[0]),
            .I (Data_in[0]));
	// ../../../src/lms/LMS.v:13

    GTP_INBUF /* \Data_in_ibuf[1]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \Data_in_ibuf[1]  (
            .O (nt_Data_in[1]),
            .I (Data_in[1]));
	// ../../../src/lms/LMS.v:13

    GTP_INBUF /* \Data_in_ibuf[2]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \Data_in_ibuf[2]  (
            .O (nt_Data_in[2]),
            .I (Data_in[2]));
	// ../../../src/lms/LMS.v:13

    GTP_INBUF /* \Data_in_ibuf[3]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \Data_in_ibuf[3]  (
            .O (nt_Data_in[3]),
            .I (Data_in[3]));
	// ../../../src/lms/LMS.v:13

    GTP_INBUF /* \Data_in_ibuf[4]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \Data_in_ibuf[4]  (
            .O (nt_Data_in[4]),
            .I (Data_in[4]));
	// ../../../src/lms/LMS.v:13

    GTP_INBUF /* \Data_in_ibuf[5]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \Data_in_ibuf[5]  (
            .O (nt_Data_in[5]),
            .I (Data_in[5]));
	// ../../../src/lms/LMS.v:13

    GTP_INBUF /* \Data_in_ibuf[6]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \Data_in_ibuf[6]  (
            .O (nt_Data_in[6]),
            .I (Data_in[6]));
	// ../../../src/lms/LMS.v:13

    GTP_INBUF /* \Data_in_ibuf[7]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \Data_in_ibuf[7]  (
            .O (nt_Data_in[7]),
            .I (Data_in[7]));
	// ../../../src/lms/LMS.v:13

    GTP_INBUF /* \Data_in_ibuf[8]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \Data_in_ibuf[8]  (
            .O (nt_Data_in[8]),
            .I (Data_in[8]));
	// ../../../src/lms/LMS.v:13

    GTP_INBUF /* \Data_in_ibuf[9]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \Data_in_ibuf[9]  (
            .O (nt_Data_in[9]),
            .I (Data_in[9]));
	// ../../../src/lms/LMS.v:13

    GTP_INBUF /* \Data_in_ibuf[10]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \Data_in_ibuf[10]  (
            .O (nt_Data_in[10]),
            .I (Data_in[10]));
	// ../../../src/lms/LMS.v:13

    GTP_INBUF /* \Data_in_ibuf[11]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \Data_in_ibuf[11]  (
            .O (nt_Data_in[11]),
            .I (Data_in[11]));
	// ../../../src/lms/LMS.v:13

    GTP_INBUF /* \Data_in_ibuf[12]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \Data_in_ibuf[12]  (
            .O (nt_Data_in[12]),
            .I (Data_in[12]));
	// ../../../src/lms/LMS.v:13

    GTP_INBUF /* \Data_in_ibuf[13]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \Data_in_ibuf[13]  (
            .O (nt_Data_in[13]),
            .I (Data_in[13]));
	// ../../../src/lms/LMS.v:13

    GTP_INBUF /* \Data_in_ibuf[14]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \Data_in_ibuf[14]  (
            .O (nt_Data_in[14]),
            .I (Data_in[14]));
	// ../../../src/lms/LMS.v:13

    GTP_INBUF /* \Data_in_ibuf[15]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \Data_in_ibuf[15]  (
            .O (nt_Data_in[15]),
            .I (Data_in[15]));
	// ../../../src/lms/LMS.v:13

    DelayUnit_unq20 Data_reg_1 (
            .Delay_out (Data_in_reg),
            .Data_in (nt_Data_in),
            .N7 (\Data_reg_1/N7 ),
            .Clk (nt_Clk),
            .Enable (nt_Enable),
            .Reset (nt_Reset));
	// ../../../src/lms/LMS.v:23

    DelayUnit_unq22 Data_reg_2 (
            .Delay_out (Desired_in_reg),
            .Data_in (nt_Desired_in),
            .Clk (nt_Clk),
            .Enable (nt_Enable),
            .N7 (\Data_reg_1/N7 ));
	// ../../../src/lms/LMS.v:30

    DelayUnit_unq24 Data_reg_3 (
            .Delay_out (nt_Error_out),
            .Desired_in_reg (Desired_in_reg),
            .Clk (nt_Clk),
            .Enable (nt_Enable),
            .N7 (\Data_reg_1/N7 ));
	// ../../../src/lms/LMS.v:75

    GTP_OUTBUF /* \Delay_out_x_obuf[0]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Delay_out_x_obuf[0]  (
            .O (Delay_out_x[0]),
            .I (nt_Delay_out_x[0]));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Delay_out_x_obuf[1]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Delay_out_x_obuf[1]  (
            .O (Delay_out_x[1]),
            .I (nt_Delay_out_x[1]));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Delay_out_x_obuf[2]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Delay_out_x_obuf[2]  (
            .O (Delay_out_x[2]),
            .I (nt_Delay_out_x[2]));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Delay_out_x_obuf[3]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Delay_out_x_obuf[3]  (
            .O (Delay_out_x[3]),
            .I (nt_Delay_out_x[3]));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Delay_out_x_obuf[4]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Delay_out_x_obuf[4]  (
            .O (Delay_out_x[4]),
            .I (nt_Delay_out_x[4]));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Delay_out_x_obuf[5]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Delay_out_x_obuf[5]  (
            .O (Delay_out_x[5]),
            .I (nt_Delay_out_x[5]));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Delay_out_x_obuf[6]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Delay_out_x_obuf[6]  (
            .O (Delay_out_x[6]),
            .I (nt_Delay_out_x[6]));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Delay_out_x_obuf[7]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Delay_out_x_obuf[7]  (
            .O (Delay_out_x[7]),
            .I (nt_Delay_out_x[7]));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Delay_out_x_obuf[8]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Delay_out_x_obuf[8]  (
            .O (Delay_out_x[8]),
            .I (nt_Delay_out_x[8]));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Delay_out_x_obuf[9]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Delay_out_x_obuf[9]  (
            .O (Delay_out_x[9]),
            .I (nt_Delay_out_x[9]));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Delay_out_x_obuf[10]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Delay_out_x_obuf[10]  (
            .O (Delay_out_x[10]),
            .I (nt_Delay_out_x[10]));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Delay_out_x_obuf[11]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Delay_out_x_obuf[11]  (
            .O (Delay_out_x[11]),
            .I (nt_Delay_out_x[11]));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Delay_out_x_obuf[12]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Delay_out_x_obuf[12]  (
            .O (Delay_out_x[12]),
            .I (nt_Delay_out_x[12]));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Delay_out_x_obuf[13]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Delay_out_x_obuf[13]  (
            .O (Delay_out_x[13]),
            .I (nt_Delay_out_x[13]));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Delay_out_x_obuf[14]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Delay_out_x_obuf[14]  (
            .O (Delay_out_x[14]),
            .I (nt_Delay_out_x[14]));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Delay_out_x_obuf[15]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Delay_out_x_obuf[15]  (
            .O (Delay_out_x[15]),
            .I (nt_Delay_out_x[15]));
	// ../../../src/lms/LMS.v:14

    GTP_INBUF /* \Desired_in_ibuf[0]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \Desired_in_ibuf[0]  (
            .O (nt_Desired_in[0]),
            .I (Desired_in[0]));
	// ../../../src/lms/LMS.v:13

    GTP_INBUF /* \Desired_in_ibuf[1]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \Desired_in_ibuf[1]  (
            .O (nt_Desired_in[1]),
            .I (Desired_in[1]));
	// ../../../src/lms/LMS.v:13

    GTP_INBUF /* \Desired_in_ibuf[2]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \Desired_in_ibuf[2]  (
            .O (nt_Desired_in[2]),
            .I (Desired_in[2]));
	// ../../../src/lms/LMS.v:13

    GTP_INBUF /* \Desired_in_ibuf[3]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \Desired_in_ibuf[3]  (
            .O (nt_Desired_in[3]),
            .I (Desired_in[3]));
	// ../../../src/lms/LMS.v:13

    GTP_INBUF /* \Desired_in_ibuf[4]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \Desired_in_ibuf[4]  (
            .O (nt_Desired_in[4]),
            .I (Desired_in[4]));
	// ../../../src/lms/LMS.v:13

    GTP_INBUF /* \Desired_in_ibuf[5]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \Desired_in_ibuf[5]  (
            .O (nt_Desired_in[5]),
            .I (Desired_in[5]));
	// ../../../src/lms/LMS.v:13

    GTP_INBUF /* \Desired_in_ibuf[6]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \Desired_in_ibuf[6]  (
            .O (nt_Desired_in[6]),
            .I (Desired_in[6]));
	// ../../../src/lms/LMS.v:13

    GTP_INBUF /* \Desired_in_ibuf[7]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \Desired_in_ibuf[7]  (
            .O (nt_Desired_in[7]),
            .I (Desired_in[7]));
	// ../../../src/lms/LMS.v:13

    GTP_INBUF /* \Desired_in_ibuf[8]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \Desired_in_ibuf[8]  (
            .O (nt_Desired_in[8]),
            .I (Desired_in[8]));
	// ../../../src/lms/LMS.v:13

    GTP_INBUF /* \Desired_in_ibuf[9]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \Desired_in_ibuf[9]  (
            .O (nt_Desired_in[9]),
            .I (Desired_in[9]));
	// ../../../src/lms/LMS.v:13

    GTP_INBUF /* \Desired_in_ibuf[10]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \Desired_in_ibuf[10]  (
            .O (nt_Desired_in[10]),
            .I (Desired_in[10]));
	// ../../../src/lms/LMS.v:13

    GTP_INBUF /* \Desired_in_ibuf[11]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \Desired_in_ibuf[11]  (
            .O (nt_Desired_in[11]),
            .I (Desired_in[11]));
	// ../../../src/lms/LMS.v:13

    GTP_INBUF /* \Desired_in_ibuf[12]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \Desired_in_ibuf[12]  (
            .O (nt_Desired_in[12]),
            .I (Desired_in[12]));
	// ../../../src/lms/LMS.v:13

    GTP_INBUF /* \Desired_in_ibuf[13]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \Desired_in_ibuf[13]  (
            .O (nt_Desired_in[13]),
            .I (Desired_in[13]));
	// ../../../src/lms/LMS.v:13

    GTP_INBUF /* \Desired_in_ibuf[14]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \Desired_in_ibuf[14]  (
            .O (nt_Desired_in[14]),
            .I (Desired_in[14]));
	// ../../../src/lms/LMS.v:13

    GTP_INBUF /* \Desired_in_ibuf[15]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        \Desired_in_ibuf[15]  (
            .O (nt_Desired_in[15]),
            .I (Desired_in[15]));
	// ../../../src/lms/LMS.v:13

    GTP_INBUF /* Enable_ibuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        Enable_ibuf (
            .O (nt_Enable),
            .I (Enable));
	// ../../../src/lms/LMS.v:12

    GTP_OUTBUF /* \Error_out_obuf[0]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Error_out_obuf[0]  (
            .O (Error_out[0]),
            .I (nt_Error_out[0]));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Error_out_obuf[1]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Error_out_obuf[1]  (
            .O (Error_out[1]),
            .I (nt_Error_out[1]));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Error_out_obuf[2]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Error_out_obuf[2]  (
            .O (Error_out[2]),
            .I (nt_Error_out[2]));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Error_out_obuf[3]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Error_out_obuf[3]  (
            .O (Error_out[3]),
            .I (nt_Error_out[3]));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Error_out_obuf[4]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Error_out_obuf[4]  (
            .O (Error_out[4]),
            .I (nt_Error_out[4]));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Error_out_obuf[5]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Error_out_obuf[5]  (
            .O (Error_out[5]),
            .I (nt_Error_out[5]));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Error_out_obuf[6]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Error_out_obuf[6]  (
            .O (Error_out[6]),
            .I (nt_Error_out[6]));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Error_out_obuf[7]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Error_out_obuf[7]  (
            .O (Error_out[7]),
            .I (nt_Error_out[7]));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Error_out_obuf[8]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Error_out_obuf[8]  (
            .O (Error_out[8]),
            .I (nt_Error_out[8]));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Error_out_obuf[9]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Error_out_obuf[9]  (
            .O (Error_out[9]),
            .I (nt_Error_out[9]));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Error_out_obuf[10]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Error_out_obuf[10]  (
            .O (Error_out[10]),
            .I (nt_Error_out[10]));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Error_out_obuf[11]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Error_out_obuf[11]  (
            .O (Error_out[11]),
            .I (nt_Error_out[11]));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Error_out_obuf[12]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Error_out_obuf[12]  (
            .O (Error_out[12]),
            .I (nt_Error_out[12]));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Error_out_obuf[13]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Error_out_obuf[13]  (
            .O (Error_out[13]),
            .I (nt_Error_out[13]));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Error_out_obuf[14]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Error_out_obuf[14]  (
            .O (Error_out[14]),
            .I (nt_Error_out[14]));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Error_out_obuf[15]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Error_out_obuf[15]  (
            .O (Error_out[15]),
            .I (nt_Error_out[15]));
	// ../../../src/lms/LMS.v:14

    GTP_GRS GRS_INST (
            .GRS_N (1'b1));

    LMSX_selfdefine LMSX_selfdefine_inst (
            .Delay_out (nt_Delay_out_x),
            .data_in (Data_in_reg),
            .\Data_reg_1/N7  (\Data_reg_1/N7 ),
            .clk (nt_Clk),
            .enable (nt_Enable));
	// ../../../src/lms/LMS.v:55

    GTP_INBUF /* Reset_ibuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        Reset_ibuf (
            .O (nt_Reset),
            .I (Reset));
	// ../../../src/lms/LMS.v:12

    GTP_OUTBUF /* \Y_out_obuf[0]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Y_out_obuf[0]  (
            .O (Y_out[0]),
            .I (1'b0));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Y_out_obuf[1]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Y_out_obuf[1]  (
            .O (Y_out[1]),
            .I (1'b0));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Y_out_obuf[2]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Y_out_obuf[2]  (
            .O (Y_out[2]),
            .I (1'b0));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Y_out_obuf[3]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Y_out_obuf[3]  (
            .O (Y_out[3]),
            .I (1'b0));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Y_out_obuf[4]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Y_out_obuf[4]  (
            .O (Y_out[4]),
            .I (1'b0));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Y_out_obuf[5]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Y_out_obuf[5]  (
            .O (Y_out[5]),
            .I (1'b0));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Y_out_obuf[6]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Y_out_obuf[6]  (
            .O (Y_out[6]),
            .I (1'b0));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Y_out_obuf[7]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Y_out_obuf[7]  (
            .O (Y_out[7]),
            .I (1'b0));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Y_out_obuf[8]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Y_out_obuf[8]  (
            .O (Y_out[8]),
            .I (1'b0));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Y_out_obuf[9]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Y_out_obuf[9]  (
            .O (Y_out[9]),
            .I (1'b0));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Y_out_obuf[10]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Y_out_obuf[10]  (
            .O (Y_out[10]),
            .I (1'b0));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Y_out_obuf[11]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Y_out_obuf[11]  (
            .O (Y_out[11]),
            .I (1'b0));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Y_out_obuf[12]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Y_out_obuf[12]  (
            .O (Y_out[12]),
            .I (1'b0));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Y_out_obuf[13]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Y_out_obuf[13]  (
            .O (Y_out[13]),
            .I (1'b0));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Y_out_obuf[14]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Y_out_obuf[14]  (
            .O (Y_out[14]),
            .I (1'b0));
	// ../../../src/lms/LMS.v:14

    GTP_OUTBUF /* \Y_out_obuf[15]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \Y_out_obuf[15]  (
            .O (Y_out[15]),
            .I (1'b0));
	// ../../../src/lms/LMS.v:14


endmodule

