//
// Generated (version 2022.1<build 99559>) at Fri May 17 21:35:51 2024
//

module fft_ctrl
(
    input N7,
    input clk_50m,
    output fft_rst_n
);
    wire N16;
    wire N16_inv;
    wire [4:0] N18;
    wire [4:0] delay_cnt;

    GTP_LUT5 /* N16_inv */ #(
            .INIT(32'b01111111111111111111111111111111))
        N16_inv_vname (
            .Z (N16),
            .I0 (delay_cnt[4]),
            .I1 (delay_cnt[3]),
            .I2 (delay_cnt[2]),
            .I3 (delay_cnt[1]),
            .I4 (delay_cnt[0]));
    // defparam N16_inv_vname.orig_name = N16_inv;
	// LUT = (~I4)|(~I3)|(~I2)|(~I1)|(~I0) ;

    GTP_LUT5 /* N16_mux4_4 */ #(
            .INIT(32'b10000000000000000000000000000000))
        N16_mux4_4 (
            .Z (N16_inv),
            .I0 (delay_cnt[4]),
            .I1 (delay_cnt[3]),
            .I2 (delay_cnt[2]),
            .I3 (delay_cnt[1]),
            .I4 (delay_cnt[0]));
	// LUT = I0&I1&I2&I3&I4 ;

    GTP_LUT2 /* N18_sum1 */ #(
            .INIT(4'b0110))
        N18_sum1 (
            .Z (N18[1]),
            .I0 (delay_cnt[1]),
            .I1 (delay_cnt[0]));
	// LUT = (I0&~I1)|(~I0&I1) ;

    GTP_LUT3 /* N18_sum2 */ #(
            .INIT(8'b01101010))
        N18_sum2 (
            .Z (N18[2]),
            .I0 (delay_cnt[2]),
            .I1 (delay_cnt[1]),
            .I2 (delay_cnt[0]));
	// LUT = (I0&~I2)|(I0&~I1)|(~I0&I1&I2) ;

    GTP_LUT4 /* N18_sum3 */ #(
            .INIT(16'b0110101010101010))
        N18_sum3 (
            .Z (N18[3]),
            .I0 (delay_cnt[3]),
            .I1 (delay_cnt[2]),
            .I2 (delay_cnt[1]),
            .I3 (delay_cnt[0]));
	// LUT = (I0&~I3)|(I0&~I2)|(I0&~I1)|(~I0&I1&I2&I3) ;

    GTP_LUT5 /* N18_sum4 */ #(
            .INIT(32'b01101010101010101010101010101010))
        N18_sum4 (
            .Z (N18[4]),
            .I0 (delay_cnt[4]),
            .I1 (delay_cnt[3]),
            .I2 (delay_cnt[2]),
            .I3 (delay_cnt[1]),
            .I4 (delay_cnt[0]));
	// LUT = (I0&~I4)|(I0&~I3)|(I0&~I2)|(I0&~I1)|(~I0&I1&I2&I3&I4) ;

    GTP_DFF_CE /* \delay_cnt[0]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \delay_cnt[0]  (
            .Q (delay_cnt[0]),
            .C (N7),
            .CE (N16),
            .CLK (clk_50m),
            .D (N18[0]));
	// ../../src/fft_ctrl.v:49

    GTP_DFF_CE /* \delay_cnt[1]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \delay_cnt[1]  (
            .Q (delay_cnt[1]),
            .C (N7),
            .CE (N16),
            .CLK (clk_50m),
            .D (N18[1]));
	// ../../src/fft_ctrl.v:49

    GTP_DFF_CE /* \delay_cnt[2]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \delay_cnt[2]  (
            .Q (delay_cnt[2]),
            .C (N7),
            .CE (N16),
            .CLK (clk_50m),
            .D (N18[2]));
	// ../../src/fft_ctrl.v:49

    GTP_DFF_CE /* \delay_cnt[3]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \delay_cnt[3]  (
            .Q (delay_cnt[3]),
            .C (N7),
            .CE (N16),
            .CLK (clk_50m),
            .D (N18[3]));
	// ../../src/fft_ctrl.v:49

    GTP_LUT1 /* \delay_cnt[4:0]_inv  */ #(
            .INIT(2'b01))
        \delay_cnt[4:0]_inv  (
            .Z (N18[0]),
            .I0 (delay_cnt[0]));
	// LUT = ~I0 ;

    GTP_DFF_CE /* \delay_cnt[4]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \delay_cnt[4]  (
            .Q (delay_cnt[4]),
            .C (N7),
            .CE (N16),
            .CLK (clk_50m),
            .D (N18[4]));
	// ../../src/fft_ctrl.v:49

    GTP_DFF_C /* fft_rst_n */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        fft_rst_n_vname (
            .Q (fft_rst_n),
            .C (N7),
            .CLK (clk_50m),
            .D (N16_inv));
    // defparam fft_rst_n_vname.orig_name = fft_rst_n;
	// ../../src/fft_ctrl.v:49


endmodule


module fft_test
(
    input [23:0] audio_data,
    input audio_clk,
    input audio_valid,
    input clk_50m,
    input rst_n,
    output fft_eop,
    output fft_ready,
    output fft_rst_n,
    output fft_sop,
    output fft_valid
);
	// SDC constraint : (object audio_clk) (id 1002) (clock fft_test|audio_clk) (inferred)
	// SDC constraint : (object clk_50m) (id 1000) (clock fft_test|clk_50m) (inferred)
    wire N3;
    wire nt_clk_50m;
    wire nt_fft_rst_n;
    wire nt_rst_n;

    GTP_GRS GRS_INST (
            .GRS_N (1'b1));

    GTP_INV N3_vname (
            .Z (N3),
            .I (nt_rst_n));
    // defparam N3_vname.orig_name = N3;

    GTP_INBUF /* clk_50m_ibuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        clk_50m_ibuf (
            .O (nt_clk_50m),
            .I (clk_50m));
	// ../../src/fft_test.v:5

    GTP_OUTBUF /* fft_eop_obuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        fft_eop_obuf (
            .O (fft_eop),
            .I (1'b0));
	// ../../src/fft_test.v:16

    GTP_OUTBUF /* fft_ready_obuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        fft_ready_obuf (
            .O (fft_ready),
            .I (1'b0));
	// ../../src/fft_test.v:12

    GTP_OUTBUF /* fft_rst_n_obuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        fft_rst_n_obuf (
            .O (fft_rst_n),
            .I (nt_fft_rst_n));
	// ../../src/fft_test.v:13

    GTP_OUTBUF /* fft_sop_obuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        fft_sop_obuf (
            .O (fft_sop),
            .I (1'b0));
	// ../../src/fft_test.v:15

    GTP_OUTBUF /* fft_valid_obuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        fft_valid_obuf (
            .O (fft_valid),
            .I (1'b0));
	// ../../src/fft_test.v:14

    GTP_INBUF /* rst_n_ibuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        rst_n_ibuf (
            .O (nt_rst_n),
            .I (rst_n));
	// ../../src/fft_test.v:6

    fft_ctrl u_fft_ctrl (
            .fft_rst_n (nt_fft_rst_n),
            .N7 (N3),
            .clk_50m (nt_clk_50m));
	// ../../src/fft_test.v:67


endmodule

